{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
      background: #e8ebed;
    }
    /* Sidebar */
    .wy-nav-side {
      font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
      color: #255;
      position: fixed;
      background: #333;
    }
    .wy-menu-vertical a {
    display: inline-block;
    line-height: 18px;
    padding: .4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #b3b3b3;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
   height: 32px;
   display: inline-block;
   line-height: 32px;
   padding: 0 1.618em;
   margin-bottom: 0;
   display: block;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 80%;
   color: #FEFEFE;
   white-space: nowrap;
   vertical-align: left;
}
  </style>
{% endblock %}
